[Unit]
Description=Docker Compose English Assistant
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/megatronus/english-assistant
ExecStart=docker-compose up --build
ExecStop=docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
